@page "/"
@using BlazorDevExpressGridDemo.Models
@using Microsoft.EntityFrameworkCore
@using System.Threading

@inject MyDbContext Context

<h1>Hello, world!</h1>

Welcome to your new app.


<DxDataGrid DataAsync="@GetRolesAsync">
    <DxDataGridColumn Field="@nameof(Role.Id)" />
    <DxDataGridColumn Field="@nameof(Role.Name)" />
</DxDataGrid>

<DxDataGrid DataAsync="@GetDepartmentsAsync">
    <DxDataGridColumn Field="@nameof(Department.Id)" />
    <DxDataGridColumn Field="@nameof(Department.Name)" />
</DxDataGrid>

@code
{
    async Task<IEnumerable<Role>> GetRolesAsync(CancellationToken token)
    {
        return await Context.Roles.ToListAsync(token);
    }

    async Task<IEnumerable<Department>> GetDepartmentsAsync(CancellationToken token)
    {
        return await Context.Departments.ToListAsync(token);
    }
}
